.chat-side
  .side-header
    %p.name
      name
    %ul.botn
      = link_to "#", class: "side-header-botn" do
        =icon('fas', 'edit')
      = link_to "#", class: "side-header-botn" do
        =icon('fas', 'cog')
  .groups
    %p.chat
      group
    %p.chats
      まだメッセージはありません
    %p.chat
      chat